body{
	font-family: "Verdana";
	margin: 10% 2% 80%;
        background-color: #fff0f8;
}
h1#tittle{
	text-align: center;
}
h2#centrar{
	text-align: center;
}
h4#concepto{
	padding-left: 10px;
}

div.cajas{
	margin: 10pt auto;
	border: 1pt;
	width: 50%;
	padding: 5px;
	border-color: #cbccc1;
	border-style: solid;
	overflow: auto;
	}

span#fotoMel img{
	margin-left: 10px;
	margin-right: 10px;
	
	margin-bottom: 10px;
	width:120px;
	height:110px;
	float:left;
}

span#espolf img {
	margin-left: 10px;
	margin-right: 10px;
	
	margin-bottom: 10px;
	width:110px;
	height:100px;
	float:left;
}

span#colefo img {
	margin-left: 10px;
	margin-right: 10px;
	
	margin-bottom: 10px;
	width:110px;
	height:100px;
	float:left;
}



div{
	overflow: auto;
}

div#contenedor1{
	border: 3pt;
	border-color: #cbccc1;
	border-bottom-style: solid;
	margin-bottom: 1em;
}

p.fecha{
	font-style: italic;
	margin-top: 0em;

}

h3.institucion{
	margin: 0em;
}

.habilidad{
	width: 100px;
	border-radius: 70px;
	margin: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 120px;
	background: #cecece;
	font-weight: bold;
	box-shadow: 2px 2px 7px grey;
	float: left;
	display: block;
}

.habilidad span{ 
	color: blue;
	border-radius: 70px;
	background: #241872;
	padding: 10px;
}
/*inicio del media*/
@media screen and (max-width: 400px) {
	*{
		font-size: 1em;
	}
		div.cajas{
		display: block;
		background-color: #d4e3fc;
		width: auto;
		max-width: 100%;
		margin: 0.3em;
		border-radius: .6em;

	}

	h1,h2#centrar,h3.institucion{
		display: none;
	}
	h2{
			text-align: center;
	}
	p.fecha{
		font-weight: bold;
	}
	div.cajas>h4#concepto{
		
		font-weight: bold;
		display: block;
		margin:auto;
	}
	div#contenedor1{
		border: none;
	}
	/*span img{
		margin-left: auto;
		max-width: 100%;
	}*/
	/*div#contenedor1 span img,p.fecha,div#contenedor2 span p.fecha{
		display:none;
		display: block;
	}*/
	div#contenedor1,div#contenedor2{
		max-width: 40%;
		display: inline-block;
		font-size: .8em;
		margin-left: auto;
	}

	

}