#titulo-sitio{
	font-size: 4em;
	color: #d39a0a;
	text-shadow: #bc8609;
	background-color:rgba(255,20,0,0.3);
}
body{
	background-image: url('fondo1.jpg');
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: top left;
	background-attachment: fixed;
	background-color: #ff1400;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;

}
section{
	background-color:rgba(255,20,0,0.3);
}
div.resumenesrecetas{
	border-style: ridge;
	border-radius: 15pt;
	background-repeat: no-repeat; 
	background-size: 200px 170px;
	margin-top: 1em;
	margin-left: 10px;
	width: 200px;
	height: 250px;
	background-position: top;
	display: inline-block;
}
.cajas:hover{
	opacity: 0.7;
}

div#recetas{
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	padding-bottom: 2em;
	border-color: #020909;
}

.titulo-receta{
	font-variant: small-caps;
	background-color:rgba(255,20,0,0.3);
	margin-top: 0px;
}
.categoria{
	border-style: solid;
	margin-top: 0px;
	border-width: 1px 0px 0px;
	width: auto;
	height: auto;
}

h4{
	color:  #d69f2a;
	margin: 0px;
}

p{
	margin: 0px 0px 2px;
	padding-left: 2px;
	color: black;

	text-align: justify;
}

a:link{
	color: #db990a;
}
a:hover{
	color: #edc163;
	text-decoration: none;
}
a:visited{
	color: #7c652e;
}

.cajas{
	background-size: 200px 175px;
	background-repeat: no-repeat;

	padding-bottom: 8em;
	margin: 0px;

	border-radius: 10pt 10pt 0pt 0pt;	
}


.detalles > div > img{
	width: 200px;
	height: 170px;
}

.detalles{
	margin: 1em 0em 1em;
	border-width: 0pt 0pt 1pt;
	border-style: dotted;
	border-color: #e0d2b1;
}
.detalles div{
	display: inline-block;	
}
.desc{
	width:800px;
}

.descripcion{
	text-align: justify;
	padding-left: 5px;

}

#cajaLeche{
	background-image: url('tresle.jpg');
}
#cajaChocolate{
	background-image: url('choco.jpg');
}
#cajaPastel{
	background-image: url('pastel2.jpg');
}
#cajaGalletas{
	background-image: url('oreo2.jpg');
}
#cajaMermelada{
	background-image: url('merme2.jpg');
}
@media only screen and (max-width : 480px) {
	

	
	p{
		display: none;
	}
	img{
		display: none;
	}
	/*[class*="col-"] {
		width: 100% !important;
	}

	header {
    	margin-left: 0%;
	}

	header h1 {
		font-size: 300%;
	}

	header img, nav, article > div > img, aside  {
		display: none;
	}

	section {
		margin-left: 0%;
	}

	article {
		background-color: #e0e0e0;
	}

	article:hover {
		background-color: #c0dbea;
		cursor: pointer;
	}

	article > div > h1 {
	    font-size: 1em;
	    padding-left: 3%;
	    padding-right: 1%;
	}

	article > div > h2 {
		font-size: 1em;
		border-bottom: none;
	}

	footer {
		font-size: .8em;
		font-style: italic;
	}

	article div.cabecera-articulo, article div.contenido-articulo  {
		height: auto;
	}*/
}
